.--objective {
  padding: 3em 8em;
}
.--aboutus {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.--aboutus-text {
  padding-top: 2em;
  flex: 0.7;
  line-height: 1.5em;
}
.--purpose-icon {
  color: var(--text-blue);
  padding-right: 1em;
}
.--aboutus h3 {
  color: var(--text-blue);
  padding-bottom: 2em;
}
.--purpose-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.--purpose {
  flex: 0.4;
  margin-top: 4em;
  box-shadow: rgba(0, 93, 255, 0.4) 5px 5px, rgba(0, 93, 255, 0.3) 10px 10px,
    rgba(0, 93, 255, 0.2) 15px 15px, rgba(0, 93, 255, 0.1) 20px 20px,
    rgba(0, 93, 255, 0.05) 25px 25px;
}
.--purpose-inner {
  background-color: var(--white);
  height: auto;
  align-items: center;
  padding: 2.5em;
}
.--purpose-inner h3 {
  text-align: center;
  padding-bottom: 1em;
}
