.--auth-page {
  height: 100%;
  width: 100%;
}

.--auth-content {
  height: 89vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.--auth-content-right,
.--auth-content-left {
  flex: 0.45;
  padding-top: 5%;
}
.--auth-content-left {
  padding-top: 10%;
}
.--form-heading {
  font-weight: 600;
  font-size: 1.8em;
}
