.--service-content {
  margin: 0 auto;
  padding-top: 5em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 70%;
}
.--service-content.right {
  flex-direction: row;
}
.--service-navigation {
  font-weight: 900 !important;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 20%;
  margin-bottom: 3%;
}
.--service-description {
  padding-top: 3%;
  line-height: 2em;
}

.--service-listing {
  padding-left: 3em;
}

.--service-icon {
  height: 0.9em;
  width: 0.8em;
  color: var(--red);
  padding-right: 1em;
}
.--service-description .--service-title {
  color: var(--text-blue);
  padding-bottom: 1em;
}
.--section-button {
  padding-top: 2em;
}
.--service-img img {
  width: 500px;
  height: 420px;
}
