.--contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 3em;
}

.--contact-left form {
  height: 50vh;
  width: 50%;
}
.--contact-right {
  padding-top: 3em;
}
.--contact-content input {
  width: 30vw !important;
  height: 7vh !important;
  color: var(--main-grey) !important;
  opacity: 0.9 !important;
}
.--contact-content textarea {
  width: 30vw !important;
  height: 20vh !important;
  border: 1px solid var(--main-grey) !important;

  outline: none;
  padding-top: 2em;
}
