form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
  padding-top: 5vh;
}

input[type="text"],
input[type="password"],
textarea {
  width: 20vw;
  height: 5vh;
  border: 1px solid var(--main-grey);
  border-radius: 0.3em;
  display: block;
  padding-left: 2em;
  font-weight: lighter;
  opacity: 0.5;
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: none;
  opacity: 1;
}
input[type="checkbox"] {
  width: 1em;
  width: 1em;
  display: inline;
}

.terms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em;
  width: 58%;
  padding-top: 0.3em;
}
.terms .remember {
  display: flex;
  flex: 0.65;
  justify-content: space-between;
}
.--forgot-password {
  flex: 0.1;
  color: var(--secondary-blue);
}
.--inquiry-text {
  color: var(--main-grey);
  font-weight: lighter;
  padding-top: 0.6em;
  font-size: 0.9em;
}
.--inquiry-text a,
.--forgot-password a {
  color: var(--secondary-blue);
}

.--forgot-password a:hover,
.--inquiry-text a:hover {
  font-weight: normal;
  color: var(--black);
}
