.--main-blue-button {
  background-color: var(--main-blue);
  padding: 0.1em 2em;
  width: 12vw;
  height: 3em;
  color: var(--white);
  border-radius: 0.2em;
  align-items: center;
  border: none;
  cursor: pointer;
}

.--main-blue-button:hover {
  background-color: var(--tertiary-blue);
  color: rgb(0, 0, 0);
}
